*{
    box-sizing: border-box;
}

body{
    background: rgb(115, 115, 156, 10%);
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*header styling*/
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-items: space-between;
    background: dimgrey;
    color: dimgrey;
    padding: 10px;
    line-height: 1;  
}

h1{
    display: block;
    font-size: 3em;
    background: powderblue;
    padding: 10px;
    margin: 0;  
    text-align: center;
}

.navheader nav a{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: rosybrown;
    align-content: right;
    
}

nav a:hover{
    background: saddlebrown;
    color: white;
    text-decoration-style: underline;
    padding: 5px;
    text-align: center;
    justify-content:space-around;
}


/*topsection*/
.topsection{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5PIEplJcBB30p0KVaEQDaa4cjZlWEkb-W2w&usqp=CAU);
    opacity:70%;
    height: 400px;
    width: 100%;
}

.avatar{

    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: slategrey;
    border: 2px solid grey;
    opacity: 1;
}

.topsection h2{
    text-align: right;
    color: saddlebrown;
}


/*main section*/

/*about me*/
.detailsection{
    display: flex; 
    margin: 20px;
    padding: 10px;    
}

.detailsection h2{
    float: left;
    width: auto;
}

p{
    display: inline-block;
    margin-left: 50px;
    line-height: 1.5;
}
/*my work*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    padding: 5px;
    margin-left: 50px;

}

.grid-container a:hover{
    color: tomato;
    opacity: 0.8;
    padding: 10px;
    margin: 2px;
}

.grid-items{
    padding: 0;
    border: 5px solid rgba(133, 185, 153, 0.5);
    margin: 0;
}


.prework{
    background-image: url(../images/code.jpg);
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-position: center;
    color: black;
}

.kitten{
    background-image: url(../images/kitten.jpeg);
    background-size: cover;
    background-position: center;
    color: black;
}

.mtrainier{
    background-image: url(../images/mount-rainier.jpeg);
    background-size: cover;
    color: black;
    width: 300px;

}

/*.mtrainier{
    background-image: url(../images/mount-rainier.jpeg);
    height: 200px;
    width: 300px;
}*/

h3{
    display: block;
    background:rgba(133, 185, 153, 0);
    color:  rgba(0,0,0,0.7);
    padding: 150px 30px 0 0;
    border: 10px rgba(133, 185, 153, 0.5);
    text-align: left;   
}

/*contact me*/
.info a{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background: rosybrown;
    color: white;
    padding: 5px;
    margin-left: 50px;
}

.info a:link{
    font-size: 15px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    justify-content: space-evenly;
    
}

/*footer*/
footer{
    text-align: center;
    color: saddlebrown;
}

/*media queries*/

@media screen and (max-width:980px){
    header{
        justify-content: center;
        text-align: center;
    }

    h1{
        width: 100%;
    }

    .navheader nav a{
        justify-content: center;
        display: inline-block;
    }

    .topsection{
        justify-content: center;
        width: 100%;

    }
}

@media screen and (max-width:768px){
    .detailsection h2{
        display: block;
    }
    .grid-container{
        grid-template-columns: none;
    }
    .info a{
        display: block;
    }
}   
