*{
    box-sizing: border-box;
}

body{
    background: rgb(115, 115, 156, 10%);
    padding: 0;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*header styling*/
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: space-between;
    background: dimgrey;
    color: dimgrey;
    padding: 10px;
    line-height: 1;  
}

h1{
    display: block;
    font-size: 3em;
    background: powderblue;
    padding: 10px;
    margin: 0;  
}

.navheader nav a{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: rosybrown;
    align-content: right;
    
}

nav a:hover{
    background: saddlebrown;
    color: white;
    text-decoration-style: underline;
    padding: 5px;
    text-align: center;
    justify-content:space-around;
}


/*topsection*/
.topsection{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5PIEplJcBB30p0KVaEQDaa4cjZlWEkb-W2w&usqp=CAU);
    opacity:50%;
    height: 400px;
}

.avatar{

    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: slategrey;
    border: 2px solid grey;
    opacity: 0.7;
}

.topsection h2{
    text-align: right;
    color: saddlebrown;
}


/*main section*/

/*about me*/
.detailsection{
    display: flex; 
    margin: 20px;
    padding: 10px;    
}

.detailsection h2{
    float: left;
    width:30%;
}

/*my work*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 10px;
    padding: 5px;
    border:3px solid rgba(133, 185, 153, 0.7)
}

.grid-container a:hover{
    color: tomato;
    opacity: 0.8;
    padding: 10px;
    margin: 2px;
}

.grid-items{
    padding: 0;
    border: 5px solid rgba(133, 185, 153, 0.5);
    margin: 0;
}


.prework{
    background-image: url(../images/code.jpg);
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-position: center;
    color: black;
}

.kitten{
    background-image: url(../images/kitten.jpeg);
    background-size: cover;
    background-position: center;
    color: black;
}

.mtrainier{
    background-image: url(../images/mount-rainier.jpeg);
    background-size: cover;
    color: black;

}

.mtrainier{
    background-image: url(../images/mount-rainier.jpeg);
    height: 200px;
    width: 300px;
}

h3{
    display: block;
    background:rgba(133, 185, 153, 0);
    color:  rgba(0,0,0,0.7);
    padding: 70px 30px 0 0;
    border: 10px rgba(133, 185, 153, 0.5);
    text-align: left;   
}

/*contact me*/
.info a{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background: rosybrown;
    color: white;
    padding: 5px;
}

.info a:link{
    background-color: rgba(149, 182, 95, 05);
    color: white;
    font-size: 15px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    
}

/*footer*/
footer{
    text-align: center;
    color: saddlebrown;
}